.venv/
/venv/
*log
__pycache__
/.ipynb_checkpoints/
environment_local
*joblib*
env
.env
.env.*
*.env
data/feedback/
models/
fine_tuned_model/
mlflow.db
exp4_out.txt
exp4_out2.txt
experiment4_output.log